$color--main: #262f32;
$white: #ffffff;
$color--border: lighten($color--main, 20%);
$main-font-family: 'Roboto', sans-serif;
$main-font-light: 300;
$main-font-regular: 400;
$main-font-medium: 400;
$main-font-bold: 700;
$main-font-black: 900;
$main-font-size-text: 16px;
$main-font-size-title: 45px;

